*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: linear-gradient(#7192ee, #fefbff);
    background-attachment: fixed;
 
    padding-top: 75px;
}

input{
    width: calc(50% - 20px);
    padding: 12px;
    border-radius: 8px;
   border-color: #fff;
   
    

    }
    .inicio{
        margin-top: 50%;
    }
    #nivel{
        width: 20%;
         text-align: center;
    }
    
.link2{
    text-align: center;
    margin-top: -3%;
    margin-left: 90%;
}
 
    h2{
        text-align:center;
        margin-top: 50;    }

    .pagina{
        width: 70%;
        margin: 8% 0;
  
        
    }
    .btn_enviar{
        margin-left: -0%;
        width: 150px;
        text-align: center;
        padding: 15px 20px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 6px;
        background-color:#7192ee ;
        font-size: 18px;
        color:rgb(255, 255, 255);
        
    }
    #img3{
        width: 290px;
        height: 180px;
        position: absolute;
        left: 532px;
        top: -15px;}
    
        .link3{
            text-align: center;
            margin-top: -3%;
            margin-left: 1200px;
        }

        .text-center{
            text-align: center;
            align-items: center;
            margin-top: -1%;
        }

        h2{
            margin-top: 100px;
        }
#labelnome{
    margin-left: -45%;

}
#email1{
    margin-left: -45%;

}
#criarsenha1{
    margin-left: -42%;

}
#confsenha1{
    margin-left: -38%;
}
@media screen and (max-width: 1200px){
    #img3{
        margin-left: -90%;
    }
    #confsenha1{
        margin-left: -20%;
    }
    #criarsenha1{
        margin-left: -28%;
    
    }
    #labelnome{
        margin-left: -38%;
    
    }
    #email1{
        margin-left: -37%;
    
    }
    
}