body{
background-repeat: no-repeat;
background-position: 400px -30px;
background-size: 35%;
background: linear-gradient(#7192ee, #fefbff);
background-attachment: fixed;
}
input{
    width: 100px;
    padding: 10px;
    }
    h4{
        text-align: center;
    }
.container{
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
}

#nome{
    width: 420px;
    height: 50px;
    margin-left: 15%;
}

#senha{
    width: 420px;
    height: 50px;
    margin-left: 15%;
}

label{
    margin-left: 40%;
    font-size: 20px;
}
#labeluser{
    margin-left: 16%;
}
#labelsenha{
    margin-top: 3%;
    margin-left: 16%;


}

#botao{
    position: absolute;
    width: 80px;
    text-align: center;
    padding: 0px 8%;
    font-size: 18px;
    color:rgb(255, 255, 255);
    margin-top: 5%;
    
    
    
}
#btn{
    width: 150px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    background-color:#7192ee ;
    font-size: 18px;
    color:rgb(255, 255, 255);
    margin-left: -450px;
    
    
    
    
}
#img2{
    width: 400px;
    height: 200px;
    position: absolute;
    left: 460px;
    top: 50px;
   

}
#cadastrohr{
    margin-left: 190px;
    margin-top: -165px;
}

#botao{
    margin-top: 50px;
    margin-left: 412px;
    
}

.link2{
    text-align: center;
    margin-top: 21%;
    margin-left: 1070px;
}


/*Responsivo 1*/
@media screen and (max-width: 1200px){
    
   #usuario{
       margin-left: 30%;
       margin-top: 5px;
       
   }
   #labeluser{
       margin-top: 70px;
   }
   input{
    width: 100px;
    padding: 10px;
    }
    h4{
        text-align: center;
        top:100px;
    }
    #btn{
        margin-left: 450px;
    }
.container{
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
}

#usuario{
    width: 425px;
    height: 50px;
    left: 4%;
    margin-top: 10px;
    position: absolute;
}

#senha{
    width: 420px;
    height: 50px;
    margin-left: 15%;
    margin-top: 10px;
}
#img2{
    width: 400px;
    height: 200px;
    position: absolute;
    left:410px;
    margin-top: -60px;
   

}
#labeluser{
    margin-top: -50px;
    margin-left: 90px;
}
#labelsenha{
    margin-top: 60px;
    margin-left: 90px;
}


#botao{
    margin-top: 40px;
    margin-left: -340px;
    

}
.link2{
    margin-left: 80%;
    margin-top: 24%;
}
}
@media screen and (max-width: 1260px){
    #img2{
        margin-left: -3%;
    }
    #botao{
        margin-left: 33%;
    }
    .link2{
        margin-left: 80%;
        margin-top: 25%;
    }

}
@media screen and (max-width: 1000px){
    #nome{
        margin-left: 30%;
        margin-top: 7px;
        
    }
    #labeluser{
        margin-top: 70px;
    }
    input{
     width: 100px;
     padding: 10px;
     }
     h4{
         text-align: center;
         top:100px;
     }
 .container{
     width: 50%;
     margin: 0 auto;
     margin-top: 20%;

}
#nome{
    width: 420px;
    height: 50px;
    margin-left: -0%;
    margin-top: 10px;
    position: absolute;
}

#senha{
    width: 420px;
    height: 50px;
    margin-left: -0%;
    margin-top: 10px;
}
#img2{
    width: 400px;
    height: 200px;
    position: absolute;
    left:250px;
    margin-top: -60px;
   

}
#labeluser{
    margin-top: -70px;
    margin-left: 0px;
}
#labelsenha{
    margin-top: 100px;
    margin-left: 0px;
}


#botao{
    margin-top: 50px;
    margin-left: 460px;
    

}

#btn{
    width: 150px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    background-color:#7192ee ;
    font-size: 18px;
    color:rgb(255, 255, 255);
    margin-left: -650px;
    
    
    
    
}
label{
    margin-left: 40%;
    font-size: 20px;
   
}

.link2{
    text-align: center;
    margin-top: 35%;
    margin-left: 670px;
}
}
@media screen and (max-width: 720px){
    #nome{
        margin-left: 30%;
        margin-top: 1px;
        
        
    }
    
    input{
     width: 100px;
     padding: 10px;
     }
     h4{
         text-align: center;
         top:100px;
     }
 .container{
     width: 50%;
     margin: 0 auto;
     margin-top: 20%;

}
#nome{
    
    width: 300px;
    height: 50px;
    margin-left: -30%;
    margin-top: 10px;
}

#senha{
    width: 300px;
    height: 50px;
    margin-left: -30%;
    margin-top: 10px;
}
#img2{
    width: 350px;
    height: 180px;
    position: absolute;
    left:268px;
    margin-top: -60px;
   

}
#labeluser{
    margin-top: -70px;
    margin-left: -100px;
}
#labelsenha{
    margin-top: 100px;
    margin-left: -300px;
}



#btn{
    width: 150px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    background-color:#7192ee ;
    font-size: 18px;
    color:rgb(255, 255, 255);
    margin-left: -50px;
    
    
    
    
}
label{
    margin-left: 40%;
    font-size: 20px;
   
}

.link2{
    text-align: center;
    margin-top: 11%;
    margin-left: 1250px;
}
}
@media screen and (max-width: 400px){
    #btn{
        width: 130px;
        text-align: center;
        padding: 15px 20px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 6px;
        background-color:#7192ee ;
        font-size: 18px;
        color:rgb(255, 255, 255);
        margin-left: -800px;
        margin-top: 500%;
        
        
    

    }
    #senha{
        margin-top: 70%;
        margin-left: -45%;
    }

.link2{
    margin-left: 390px;
    margin-top: 150px;
}

#labeluser{
    margin-top: 70px;
    margin-left: -40px;
}
#labelsenha{
    margin-top:  50px;
    margin-left: -25%;
}

}
@media screen and (max-width:  800px){

#img2{
    margin-left: -8%;
    
}
#btn{
    margin-top: 50%;
}
#senha{
    margin-left: -10%;
}
#nome{
    margin-left: -5%;
}

#labeluser{
    margin-top: 10px;
    margin-left: -40px;
}
#labelsenha{
    margin-left: -10%;
}
.link2{
    margin-left: 68%;
    margin-top: 45%;
}
}
@media screen and (max-width:  500px){
    #labelsenha{
        margin-top:  55%;
    }
    #labeluser{
        margin-top: 30%;
        margin-left: -10%;

    }
    #img2{
        margin-left: -31%;
        height: 30%;
        width: 60%;
    }
    #botao{
        margin-left:10%;
    }
    #link2{
        margin-left: 40%;
        margin-top: 65%;
    }
    
    
}
@media screen and (max-width:  660px){
    #img2{
        margin-left: -20%;
    }
    #botao{
        margin-left: 10%;
    }
    #nome{
        margin-left: -2%;
        width: 49%;
    }
    #senha{
        margin-left: -2%;
        width: 100%;
    }
    #labeluser{
        margin-left: -2%;
    }
    #labelsenha{
        margin-left: -2%;
    }
    .link2{
        margin-left: 60%;
        margin-top: 60%;
    }
}
@media screen and (max-width: 720px){
    #img2{
        margin-left: -35%;
    }
    #labeluser{
        margin-left: 2%;
    }
    #cadastrohr{
        margin-left: 130px;
        margin-top: -135px;
    }
    
    #labelsenha{
        margin-left: 2%;
    }
    #senha{
        margin-left: 0%;
        width: 111%;
    }
    #nome{
        margin-left: 0%;
    }
    #botao{
        margin-left: 10%;
    }
    .link2{
        margin-left: 60%;
        margin-top: 55%;
    }
}